.#{$prefix}-contact {
    padding: rem(60) rem(0);
    
    @include e('option') {
        display: flex;
        align-items: center;
        margin-bottom: rem(15);
        
        span {
            margin-left: rem(10);
            color: cl(gray);
            line-height: rem(24);
        }
    }
}

.#{$prefix}-contact-grid {
    justify-content: space-between;
}