.#{$prefix}-differences {
    background-image: url('../images/differences.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(292);
    display: flex;
    align-items: center;

    @include e('info') {
        @include typography(700, 16, $font-default);
        font-style: normal;
        color: cl(white);
        line-height: rem(24);
    }
}

.#{$prefix}-differences-grid {
    margin-bottom: rem(-20);
}