.#{$prefix}-header {
    height: rem(100);
    display: flex;
    align-items: center;

    @include e('row') {
        justify-content: space-between;
        align-items: center;
    }

    @include e('nav') {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}