.#{$prefix}-treatments {
    padding: rem(60) rem(0);
}

.#{$prefix}-treatments-grid {
    margin-top: rem(30);

    @include e('item') {
        margin-bottom: rem(15);

        @include respond-to(md) {
            padding-left: rem(0);
            margin-bottom: rem(0);

            &:last-child {
                padding-right: rem(0);
            }
        }

       
    }
}